<!-- templates/signup.html -->
{% extends 'blog/base.html' %}
{% load staticfiles%}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}


    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet"> 
    
<div class="login_all login_text">
    <h4>Regístrate</h2>
    <form method="post" class="form-group">
       {% csrf_token %}
       {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary buttons" >Regístrate</button>
    </form>  
</div>
{% endblock %}
