.login_register{
   
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mukta Mahee';
      
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
