{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% if post.image %}
                    <img src="{{post.image.url}}" class="image_post_detail">
                {% endif %}
            </div>
            <div class="col-3 post_detail">
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                
                        <!--<p>Email: {{ post.author.email }}</p>-->
                    </div>
                {% endif %}
        
                {% if user.is_authenticated %}
                    <a class="btn btn-default " href="{% url 'post_edit' pk=post.pk %}"></a>
                    
		        {% endif %}
                <h1 >{{ post.title }}</h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>Price: ${{ post.price|linebreaksbr }}</p>
                <p>Email: {{ post.author.email }}</p>		
            </div>
        </div>
    </div
{% endblock %}
